.green-btn{
    background: #4CAF4F;
    color: #FFF;
    font-weight: 400;
}

.green-btn:hover,.green-btn:focus{
    background: #38853b;
    color: #FFF;
}

h5{
    color: #4CAF4F;
}

a{
    text-decoration: none;
    color: #4CAF4F;
}

.text-translate{
    transform: translateY(-70%);
    background: #F5F7FA;
    width: 319px;
    height: 199px;
    margin: 45px;
    border-radius: 8px;
    box-shadow: 1px -1px 9px 0px;
    font-size: 20px;
    align-items: center;
}

.text-desc{
    color: #717171;
}

.container-footer{
    background: #263238
}

.container-footer p{
    color: #D9DBE1;
}

.your{
    color: #D9DBE1;
}

.container-footer h2{
    color: #FFF;
}

.container-footer h4{
    color: #FFF;
  
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .container h2{
    margin-bottom: 32px;
    font-size: 64px;
}

.img-footer{
  margin-top: 20px;
  margin-left:60px ;
  width: 180px;
  justify-content:space-around;
}

.nex{
    margin-top: 40px;
    margin-left:70px ;
}

.nex p{
    margin-top: 40px;
}

.card-footer{
   margin: -24px 0px 0px -350px    ;  
    display: flex;
    justify-content: space-between;
}

.card-footer p{
    margin-top: 20px;
}

.button-footer{
    background: #515B60;
    width: 255px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.stay{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-footer{
    width: 22px;
    height: 22px;
}

.nex-img{
    width: 45px;
    height:45px;
    margin-right:10px ;
}

.tex-img-nex{
    display: flex;  
}

.nexcent{
    font-size: 38px;
}

.text-footer{
    margin: 9px 128px 0px -64px;
    padding: 52px;
    display: flex;
    flex-direction: column;
}

.text-footer p{
    white-space: nowrap;
    
}
